.container {
    height: 350px;
    width: 550px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.card {
    padding: 50px 40px;
}

[data-type = r] {
    background-color: brown;
}
[data-type = p] {
    background-color: wheat;
}
[data-type = s] {
    background-color: grey;
}