#gameOverContainer a{
    text-decoration: none;
}
#gameOverContainer{
    color: white;
    text-decoration: none;
    z-index: 50;
}
.helpfulDiv2{
    position: fixed;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    box-sizing: border-box;
    background-color: black;
    opacity: 40%;
}
#overImage {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    max-height: 100vh;
    z-index: -1;
}