.sprite-display{
    transform: scale(.7);
}
#masterContainer {
    z-index: 100;
    color: white;
}
#masterContainer a {
    z-index: 100;
    color: white;
    text-decoration: none;
}
#masterContainer Link {
    z-index: 100;
    color: white;
    text-decoration: none;
}
#shift{
    margin-top: 5%;
}

.landing {
    height: 100vh;
    background-image: url("../../images/bg-auth.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
}
