.sprite-display{
    display: block;
    transform: scale(.3);
    z-index: 10;
}
#masterContainer {
    z-index: 100;
    color: white;
    height: 100vh;
}
#masterContainer a {
    z-index: 100;
    color: white;
    text-decoration: none;
}
#masterContainer Link {
    z-index: 100;
    color: white;
    text-decoration: none;
}
#shift{
    margin-top: 5%;
}

#landingImage {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100vw;
    min-width: 100vw;
    max-height: 100vh;
    max-height: 100vh;
    z-index: -1;
  }